{
  "projects": {
    "default": "<your-firebase-project-id>"
  },
  "targets": {
    "<your-firebase-project-id>": {
      "hosting": {
        "pert-chart": [
          "<your-hosting-site-id>"
        ]
      }
    }
  }
}
